#root {
  height: 100vh;
  width: 100vw;
}
.tasks {
  margin: 25vh auto;
  width: 40vw;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: space-between;
}

.tasks__form {
  display: grid;
}

.tasks__container {
  display: grid;
  gap: 5px;
  grid-auto-flow: row;
}

.task {
  display: grid;
  border: 1px black solid;
  border-radius: 5px;
}
